html {
  font-family: "Muli", Helvetica, sans-serif;
}

body {
  margin: 0;
}

section {
  width: 100vw;
}

svg {
  margin: 0 30px;
}

svg:not(:first-of-type) {
  display:none;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

circle,
path {
  cursor: pointer;
}

circle {
  fill: none;
  pointer-events: all;
}

#menu-link {
  position: fixed;
}

#menu {
  position: fixed;
  width: 270px;
  height: 100vh;
  background: #aaa;
  margin-left: -270px;
  z-index: 1;
  transition: margin-left 0.3s;
}

#menu.close {
  margin-left: 0px;
}

#name {
  padding-top: 20px;
}

#name * {
  margin: 0;
}

#foresight-nav {
  margin-top: 10px;
  background: #FEDD56;
}

#foresight-nav li {
  display: inline-block;
  margin-right: -4px;
  padding: 10px 0 5px 0;
  border-bottom: 5px solid #FEDD56;
  font-size: 20px;
  transition: border-bottom-color 0.3s ease-out;
}

#foresight-nav li:first-child {
  border-bottom-color: #000;
}

.header, .util {
  height: 25vh;
  text-align: center;
}

.pie {
  height: 50vh;
}

.navbtn {
  width: 33.33vw;
}

button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
}
button span {
  display: block;
}

.lines-button {
  position: relative;
  left: 0px;
  padding: 1rem 0.25rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
}
.lines-button:hover {
  opacity: 1;
}

.lines {
  display: inline-block;
  width: 1.5rem;
  height: 0.25rem;
  background: #606060;
  border-radius: 0.28571rem;
  transition: 0.3s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 1.5rem;
  height: 0.25rem;
  background: #606060;
  border-radius: 0.28571rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: 0.5rem;
}
.lines:after {
  top: -0.5rem;
}

.lines-button:hover .lines:before {
  top: 0.5rem;
}
.lines-button:hover .lines:after {
  top: -0.5rem;
}

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
  left: 270px;
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
